{% extends 'getpapers/header.html' %}
{% block content %}
    <div class="container">
        <h2>Últimos dados: {{ paper }}</h2>
        <table id="data-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Cotação atualizada</th>
                    <th>Preço de abertura</th>
                    <th>Menor oferta de venda</th>
                    <th>Maior oferta de compra</th>
                    <th>Maior preço do dia</th>
                    <th>Menor preço do dia</th>
                    <th>Horário</th>
                </tr>
            </thead>
            <tbody>
                {% for item in latest_data %}
                    <tr>
                        <td>{{ item.price_now }}</td>
                        <td>{{ item.open_price }}</td>
                        <td>{{ item.ask }}</td>
                        <td>{{ item.bid }}</td>
                        <td>{{ item.high_price }}</td>
                        <td>{{ item.low_price }}</td>
                        <td>{{ item.date_info }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Cotação atualizada</th>
                    <th>Preço de abertura</th>
                    <th>Menor oferta de venda</th>
                    <th>Maior oferta de compra</th>
                    <th>Maior preço do dia</th>
                    <th>Menor preço do dia</th>
                    <th>Horário</th>
                </tr>
            </tfoot>
        </table>

        &nbsp<br>
        &nbsp<br>

        <h2>Dados da empresa </h2>
        &nbsp<br>
        <div class="row d-flex justify-content-center">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>{{ enterprise.longBusinessSummary }}</td>
                    </tr>
                    <tr>
                        <td>Número de empregados: {{ enterprise.fullTimeEmployees }}</td>
                    </tr> 
                    <tr>
                        <td>Setor: {{ enterprise.sector }}</td>
                    </tr>    
                    <tr>
                        <td>Website: <a href="{{ enterprise.website }}" >{{ enterprise.website }}</a></td>
                    </tr>
                    <tr>
                        <td>Endereço: {{ enterprise.address1 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        &nbsp<br>
        &nbsp<br>

        <h2>Informações do papel</h2>
        &nbsp<br>
        <div class="row d-flex justify-content-center">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Preço alvo: {{ info.priceHint }}</td>
                    </tr>
                    <tr>
                        <td>Fechamento de ontem: {{ info.previousClose }}</td>
                    </tr>
                    <tr>
                        <td>Abertura: {{ info.open }}</td>
                    </tr>
                    <tr>
                        <td>Menor valor do dia: {{ info.dayLow }}</td>
                    </tr>
                    <tr>
                        <td>Alta do dia: {{ info.dayHigh }}</td>
                    </tr>
                    <tr>
                        <td>Fechamento do mercado regular: {{ info.regularMarketPreviousClose }}</td>
                    </tr>
                    <tr>
                        <td>Abertura do mercado regular: {{ info.regularMarketOpen }}</td>
                    </tr>
                    <tr>
                        <td>Baixa do mercado regular do dia: {{ info.regularMarketDayLow }}</td>
                    </tr>
                    <tr>
                        <td>Alta do mercado regular do dia: {{ info.regularMarketDayHigh }}</td>
                    </tr>
                    <tr>
                        <td>Dividend Rate: {{ info.dividendRate }}</td>
                    </tr>
                    <tr>
                        <td>Dividend Yeld: {{ info.dividendYield }}</td>
                    </tr>
                    <tr>
                        <td>Data dos dividendos: {{ info.exDividendDate }}</td>
                    </tr>
                    <tr>
                        <td>Índice de distribuição de dividendo: {{ info.payoutRatio }}</td>
                    </tr>
                    <tr>
                        <td>Beta: {{ info.beta }}</td>
                    </tr>
                    <tr>
                        <td>Trailing PE: {{ info.trailingPE }}</td>
                    </tr>
                    <tr>
                        <td>Forward PE: {{ info.forwardPE }}</td>
                    </tr>
                    <tr>
                        <td>Volume: {{ info.volume }}</td>
                    </tr>
                    <tr>
                        <td>Volume do mercado regular: {{ info.regularMarketVolume }}</td>
                    </tr>
                    <tr>
                        <td>Média de Volume: {{ info.averageVolume }}</td>
                    </tr>
                    <tr>
                        <td>Média Volume nos últimos 10 dias: {{ info.averageVolume10days }}</td>
                    </tr>
                    <tr>
                        <td>Média diária de Volume nos últimos 10 dias: {{ info.averageDailyVolume10Day }}</td>
                    </tr>
                    <tr>
                        <td>Bid: {{ info.bid }}</td>
                    </tr>
                    <tr>
                        <td>Ask: {{ info.ask }}</td>
                    </tr>
                    <tr>
                        <td>
                            Tamanho do Bid: {{ info.bidSize }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tamanho do Ask: {{ info.askSize }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Market Cap: {{ info.marketCap }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Moeda: {{ info.currency }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% include 'getpapers/footer.html' %}
{% endblock content %}
