{% extends 'getpapers/header.html' %}

{% block content %}

<h2>Últimos dados:</h2>


<table id="example" class="table table-striped"  style="width:100%">
    <thead>
        <tr>
            <th>Nome da Empresa</th>
            <th>Ação</th>
            <th>Preço atual</th>
            <th>Menor oferta de venda</th>
            <th>Maior oferta de compra</th>
            <th>Abertura</th>
            <th>Horario</th>
        </tr>
    </thead>
    <tbody>
        {% for a,b,c,d,e,f,g in data_papers %}
        <tr>
            <td>{{ a }}</td>
            <td>{{ b }}</td>
            <td>{{ c }}</td>
            <td>{{ d }}</td>
            <td>{{ e }}</td>
            <td>{{ f }}</td>
            <td>{{ g }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Nome da Empresa</th>
            <th>Ação</th>
            <th>Preço atual</th>
            <th>Menor oferta de venda</th>
            <th>Maior oferta de compra</th>
            <th>Abertura</th>
            <th>Horario</th>
        </tr>
    </tfoot>
</table>

{% include 'getpapers/footer.html' %}

{% endblock content %}